{% if mainnav %}
{# To swap the Direction of the drop down menus, add this class to the NAV element: 'menu-rtl' #}
<nav id="site-navigation" class="site-navigation__wrapper" role="navigation">
	<h2 class="sr-only">{{ __('Site Navigation', 'sesha') }}</h2>
	<ul class="site-navigation__menu / flex flex-col md:flex-row md:gap-md">
	{% for item in items %}
		<li class="{{ item.classes | join(' ') }} list-none">
			<a target="{{ item.target }}" href="{{ item.link }}" class="menu-link">{{ item.title }}</a>

			<div class="menu-items-wrapper menu-items-level-2">
			{% if item.children %}
				{% include "masthead/menu-sub.twig" with {'items': item.children} %}
			{% endif %}
			</div>
		</li>
	{% endfor %}
	</ul>
</nav>
{% endif %}
